$color-primary1: #D8DEFC;
$color-primary2: #293EA5;
$color-primary3: #374FC9;
$color-primary4: #1E2F83;
$color-primary5: #293EA5;

$color-success3: #47C480;
$color-success4: #2B8656;
$color-success5: #38A96D;

$color-danger: #AF2F30;
$color-danger1: #FBDBDB;
$color-success2: #F7AFAE;

$color-neutral: #75757B;